h1{
    text-align: center;
    font-family: arial black;
    color: whitesmoke;
}
body{
    margin: auto;
    margin-left: 50mm;
    margin-right: 50mm;
    background-image: url(astro.webp);
    background-repeat: no-repeat;
    background-size: cover;

}
 th, td{
    font-family: Arial black;
    border-collapse: collapse;
 }
 th{
    height: 20px;
    color: blue;
 } 
table, th, td, tr{
    padding: 20px;
    border-style: none;
    border-collapse: collapse;
    color: white;
    text-align: center;

 }
 
